{% extends "home/base_patient.html" %}


{% block patient %}

    {{ block.super }}


    <section class="home">
            <div class="container" id="ani-round">
                <div class="home-content">
                    <div class="row align-items-center">
                        <div class="col-lg-12 mt-5" dir="rtl">
                            <div class="animation-image" id="">
                                <div class="heading text-center">
                                    <h1 class="mb-3">
                                        <span class="text-primary fw-normal" style="font-family: Calibri">تەھرىرلەش</span>
                                    </h1>
                                </div>
                            </div>

                            <div class="heading" style="font-family: Calibri">

                                <form class="row g-3 needs-validation" action="" method="post">
                                    {% csrf_token %}

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="name" id="name" class="form-control" maxlength="30" value="{{ appointment.name }}" required="" data-error="بىمار ئىسمى" placeholder="بىمار ئىسمى">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="address" id="address" class="form-control" maxlength="80" value="{{ appointment.address }}" required="" data-error="يولدىشىڭىزنىڭ ئىسمىنى كىرگۈزۈڭ" placeholder="بىمارنىڭ يولدىشىنىڭ ئىسمى">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="age" id="age" class="form-control" maxlength="3" value="{{ appointment.age }}" required="" data-error="يىشىڭىزنى كىرگۈزۈڭ" placeholder="بىمار يىشى" oninput="setCustomValidity(''); value=value.replace(/[^\d]/g,'')">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="phone" id="phone" class="form-control" maxlength="13" value="{{ appointment.phone }}" required="" data-error="ئالاقىلىشىش نۇمۇرىنى كىرگۈزۈڭ" placeholder="ئالاقىلىشىش نۇمۇرى" oninput="setCustomValidity(''); value=value.replace(/[^\d]/g,'')">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            {% if appointment.sex == 'ذكر' %}
                                                &nbsp;
                                                <input type="radio" name="sex" checked="checked" value="ذكر" required="">&nbsp;&nbsp;ذكر
                                                &nbsp;&nbsp;&nbsp;
                                                <input type="radio" name="sex" value="انثى">&nbsp;&nbsp; انثى
                                            {% elif appointment.sex == 'انثى' %}
                                                &nbsp;
                                                <input type="radio" name="sex" value="ذكر" required="">&nbsp;&nbsp;ذكر
                                                &nbsp;&nbsp;&nbsp;
                                                <input type="radio" name="sex" checked="checked" value="انثى">&nbsp;&nbsp; انثى
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12" >
                                        <div class="table-responsive">
                                            <table class="table table-responsive" style="color: #205072; font-family: Calibri">
                                                {% for schedule in schedules %}
                                                    {% if  schedule.count < schedule.quantity %}
                                                        {% if schedule.department.name == appointment.department %}
                                                            <tr>
                                                                <th>
                                                                    <input type="radio" name="department" checked="checked" value="{{ schedule.department.name }}" required=""> {{ schedule.department.arabic_name }} : {{ schedule.quantity }} / {{ schedule.count }}
                                                                </th>
                                                            </tr>
                                                        {% else %}
                                                            <tr>
                                                                <th>
                                                                    <input type="radio" name="department" value="{{ schedule.department.name }}" required=""> {{ schedule.department.arabic_name }} : {{ schedule.quantity }} / {{ schedule.count }}
                                                                </th>
                                                            </tr>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            </table>

                                            <hr />

                                            <table class="table table-responsive" style="color: darkgray; font-family: Calibri">

                                                {% for schedule in schedules %}
                                                    {% if countOfSurgery >= schedule.quantity %}
                                                        <tr>
                                                            <th>
                                                                  إكتمل العدد في العيادة &nbsp;&nbsp;{{ schedule.department.arabic_name }}
                                                            </th>
                                                        </tr>
                                                    {% endif %}
                                                {% endfor %}

                                            </table>

                                        </div>

                                    </div>

                                    <div class="col-lg-12 col-md-12 text-center">
                                        <br>
                                        <button type="submit" class="btn btn-danger btn-lg" style="font-family: Calibri; font-size: 18px">
                                            يوللاش
                                        </button>

                                    </div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>



{% endblock patient %}
