{% extends "home/base_patient.html" %}

    {% block patient %}

    {{ block.super }}

        <style type="text/css">

            table{
                table-layout: fixed;
            }

            td{
                vertical-align: middle;
                text-align: center;
                {#white-space: nowrap;#}
                white-space: revert;
            }

            th{
                vertical-align: middle;
                text-align: center;
                {#white-space: nowrap;#}
                white-space: revert;
            }

        </style>

        <!-- start home section -->
        <section class="home" id="home">
            <div class="container" id="ani-round">
                <div class="home-content">
                    <div class="row align-items-center">
                        <div class="col-lg-12 mt-5" dir="rtl">
                            <div class="animation-image" id="">
                                <div class="heading text-center">
                                    <h1 class="mb-3">
                                        <span class="fw-bold" style="font-family: Calibri; color: deepskyblue; font-weight: bolder;">

                                            بِسْمِ اللّٰهِ الرَّحْمٰنِ الرَّح۪يم

                                        </span>
                                    </h1>

                                    <h1 class="mb-3">
                                        <span class="fw-bold" style="font-family: Calibri; color: purple; font-weight: bolder;">

                                            وَإِذَا مَرِضۡتُ فَهُوَ يَشۡفِينِ

                                        </span>
                                    </h1>
                                </div>
                            </div>

                            <table class="table table-responsive-lg table-bordered" style="font-family: Calibri">
                                <thead>
                                    <tr style="color: #205072; font-weight: bolder;">
                                        <th>ئامبۇلاتورىيە</th>
                                        <th>كېسەل كۆرۈش ۋاقتى</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>تاشقى بۆلۈم ، ئاياللار بۆلۈم</td>
                                        <td>پەيشەنبە ۋە جۈمە سائەت 9:30 -- 15:00</td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="heading text-center">

                                <h1 class="mb-3" style="font-family: Calibri; text-align: right; color: red; font-weight: bolder;">
                                    ئەسكەرتىش :
                                </h1>

                                <p style="font-family: Calibri; font-weight: bold; color: #205072; text-align: right">
                                      1. كىچىك بالىلارنىڭ كېسەل كۆرۈش ۋە تەكشۈرۈش جەريانىدا بولىشى ، بالىلارنىڭ ئۆسۈپ يىتىلىشىگە سەلبى تەسىر ، كېسەلگە قولايسىزلىق ۋە باشقىلارغا راھەتسىزلىك بولماسلىقى كۆزدە تۇتۇلۇپ بوۋاق ۋە كىچىك بالىلارنى ئىلىپ كىلىشكە بولمايدۇ .
                                </p>

                                <p style="font-family: Calibri; font-weight: bold; color: #205072; text-align: right">
                                    2. ئائىلەمنىڭ ھەققى كۆزدە تۇتۇلۇپ ، كېسەل كۆرۈش ۋاقتىنىڭ سىرتىدا كېسەل كۆرۈلمەيدۇ ۋە مەسلىھەت بىرىلمەيدۇ .
                                </p>

                                <p style="font-family: Calibri; font-weight: bold; color: #205072; text-align: right">
                                    3. ئۆچرەت ساقلاۋاتقان ھەمشىرىلىرىمىزنىڭ ھەققى ۋە كېسەل كۆرۈش ئۈنۈمىنى يۇقىرى كۆتۈرۈش ئۈچۈن ، ھەمشىرىلىرىمىزنىڭ كېسەل كۆرۈش ۋاقتىنى ئۇزارتىۋەتمەسلىكى قاتتىق تەۋسىيە قىلىنىدۇ .
                                </p>

                                <p style="font-family: Calibri; font-weight: bold; color: #205072; text-align: right">
                                    4. كۈنلۈك كېسەل كۆرۈرش سانى 20 كىشىلىك ، نۇمۇر ئالغۇچىلارنىڭ سانى 20 مىگە توشقاندىن كېيىن سىستىمېدىن نۇمۇر ئالغىلى بولمايدۇ .
                                </p>

                                <p style="font-family: Calibri; font-weight: bold; color: #205072; text-align: right">
                                    5. نۇمۇر ئىلىش بىر كۈن بۇرۇن باشلىنىدۇ. يەنى پەيشەنبە كۈنى كېسەل كۆرسىتىش ئۈچۈن چارشەنبە كۈنى كېچە سائەت 1:00 دىن 23:00 گىچە نۇمۇر ئىلىشقا بولىدۇ ، جۈمە كۈنى كېسەل كۆرسىتىش ئۈچۈن پەيشەنبە كۈنى كېچە سائەت 1:00 دىن 23:00 گىچە نۇمۇر ئىلىشقا بولىدۇ .
                                </p>

                                <p style="font-family: 'ALKATIP Basma' ;font-weight: bolder; color: #205072; text-align: right">
                                    ئادرېسى : 806---7.مەھەللە .
                                </p>


                            </div>

                            <div class="heading text-center">
                                <a href="{% url 'reservation' %}" class="btn btn-info" style="font-family: Calibri; color: white">نۇمۇر ئىلىش</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- end section -->


   {% endblock patient %}